<form method="POST" action="/albums">
  <p><label>Album title: </label>
  <input type="text" name="title" /></p>
  <p><label>Album release year: </label>
  <input type="text" name="release_year" /></p>
  <p><label>Album artist id: </label>
  <input type="text" name="artist_id" /></p>

  <p><input type="submit" /></p>
</form>