<form method="POST" action="/artists">
  <p><label>Artist name: </label>
  <input type="text" name="name" /></p>
  <p><label>Artist genre: </label>
  <input type="text" name="genre" /></p>

  <p><input type="submit" /></p>
</form>